<!DOCTYPE html>
<html>
  <head>
    <title>WatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <div class="container py-4"></div>
    <footer class="bg-dark text-white text-center py-3 mt-auto">
      <p>&copy; 2025 Watch-List made by Henry</p>
    </footer>
  </body>
</html>
